@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-Inter: "Inter", sans-serif;
  --color-app-errorBox: #ffeded;
  --color-app: #fff7ed;

  --color-app-light: #4d4d4d;
  --color-app-medium: #ffead0;
  --color-app-for-simple: #e17654;
  --color-app-for-luxury: #161616;
  --color-app-for-rugged: #115e59;
  --color-button-orange: #ff8c38;
  --color-button-orange-sec: #ffcc8d;
  --color-button-orange-third: #ffead0;
  --color-button-orange-fourth: #ffddb2;
  --color-app-dark-sec: #161616;
  --color-app-border: #d1d5db;
}
